* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* height: 100vh; */
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.form {
  width: 40rem;
  min-height: 20vh;

  margin: 4rem 0rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  height: 4rem;

  color: #0A155A;
  background-color: white;

  text-align: start;
  padding-left: 20px;
  font-size: 1.5rem;
  outline: none;
  border: double 4px transparent;
  
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, pink, skyblue);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  
  border-radius: 2rem;
  margin-right: 2rem;
}

/* .inputGradient {
  border-image-source: linear-gradient(to left, pink, skyblue);
  
} */

.btn {
  width: 5rem;
  height: 4rem;

  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #d400ff;
  border-radius: 100%;
  
  cursor: pointer;
  outline: none;
  border: none;

  display: grid;
  place-items: center;
}



.todoContainer {
  width: 80%;
  color: #BBC2D8;
  background-color: #0A155A;

  font-size: 1.5rem;
  padding: 0 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.todolist {
  /* min-width: 30%; */
  list-style: none;
}

.todoComplete {
  text-decoration: line-through;
  color: skyblue;
  
  padding:  10px;
  border-radius: .5rem;
}

.btnGroup {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todoCheck {
  width: 2.5rem;
  height: 2.5rem;

  border: none;
  outline: none;
  color: #BBC2D8;
  font-size: 1.3rem;
  background-color: black;
  cursor: pointer;
  border-radius: 100%;

  display: grid;
  place-items: center;
}

.todoDelete {
  width: 2.5rem;
  height: 2.5rem;

  border: none;
  outline: none;
  color: #BBC2D8;
  font-size: 1.3rem;
  background-color: black;
  cursor: pointer;
  border-radius: 100%;
  
  display: grid;
  place-items: center;
}

.todoEdit {
  width: 2.5rem;
  height: 2.5rem;

  border: none;
  outline: none;
  color: #BBC2D8;
  font-size: 1.3rem;
  background-color: black;
  cursor: pointer;
  border-radius: 100%;

  display: grid;
  place-items: center;
}

.todoContainer:nth-of-type(1) {
  color: #0A155A;
  background-color: pink;
}

.todoContainer:nth-of-type(2) {
  color: #0A155A;
  background-color: skyblue;
}

.todoContainer:nth-of-type(3) {
  color: #0A155A;
  background-color: rgba(245, 245, 10, 0.719);
}

.todoContainer:nth-of-type(4) {
  color: #0A155A;
  background-color: rgb(243, 99, 243);
}

